body {
  font-family: 'Lato';
}
.display-2{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
}
.display-4{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
}
.display-5{
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
}
